#bg-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: 0;
  background-image: url(02.png);
  background-repeat: repeat-y;
  background-size: 100% auto;
  background-position: center 0;
  opacity: 0.3;
  animation: moveBG 60s linear infinite;
  @keyframes moveBG {
    from { background-position: center 0; }
    tp { background-position: center 100%; } 
  }

}




