.left-container{
  background: rgba(20, 25, 60, 0.7);
  padding: 22px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(114, 9, 183, 0.3);
  width: 400px;
  margin-left: 25px;
  margin-top: 25px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  max-height: 400px;
}
.right-container {
  background: rgba(20, 25, 60, 0.7);
  padding: 22px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(114, 9, 183, 0.3);
  width: 55%;
  margin: 25px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  min-width: 450px;
  height: 100%;
  
}






