.text-div {
  font-family: roboto;
  
}
a {
  color: #7aa0ff;
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  color: #c78aff;
  text-shadow: 0 0 8px #c78aff;
}
a:visited {
  color: #7aa0ff;
}