.name{
  font-size: 20;
}
#my-pic {
  margin: 5px;
  width: 200px;
  border-radius: 8px;
}
ul {
  padding-left: 20px;
  margin-top: 10px;

}
h1 {
  margin-bottom: 10px;
}
.pic-name-div {
  display: flex;
  flex-flow: row wrap;
}