body {
  height: 100vh;
  margin: 0;
  font-family: 'Orbitron' , sans-serif;
  color: #e0e0ff;
   /* خلفية ناعمة وسديم */
  background:
    radial-gradient(circle at 20% 30%, rgba(114, 9, 183, 0.25), transparent 70%),
    radial-gradient(circle at 80% 70%, rgba(67, 97, 238, 0.25), transparent 70%),
    linear-gradient(135deg, #0b0f29 0%, #1b1f44 40%, #3a0ca3 80%, #7209b7 100%);
  background-blend-mode: screen;
  background-attachment: fixed;

}
.main-div {
  display: flex;
  flex-flow: row wrap;

}
hr {
  width: 100%;
  position: fixed;
  align-items: center;
  border: none;
  height: 2px;
  background-color: rgba(44, 0, 70, 0.5);
  bottom: 0;
  height: 7%;
  margin-bottom: 0;
}
.rights{
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
}
